html {
  background-color: #070a1b;
}

@media (max-width: 1100px) {
  html {
    display: none;
  }
  .unavailable-message {
    display: block;
    text-align: center;
    font-size: 24px;
    color: red;
    padding: 20px;
  }
}
